<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  
<configuration>
  <configSections>
    <section name="alive" type="LiteMedia.Alive.Configuration.SectionHandler, Alive" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <system.diagnostics>
      <trace autoflush="false" indentsize="3" />
   </system.diagnostics>
  
  <!-- EXAMPLE CONFIGURATION -->
  <!-- ALIVE -->
  <alive>
    <settings columns="3" />
    <counters>
      <group name="Hardware">
        <chart name="CPU" updateLatency="1000">
          <counter name="CPU" categoryName="Processor" counterName="% Processor Time" instanceName="_Total" />
        </chart>
        <chart name="Memory Activity" updateLatency="1000">
          <counter name="Memory" categoryName="Memory" counterName="Pages/sec" />
        </chart>
        <chart name="Memory Usage" updateLatency="5000">
          <counter name="RAM" categoryName="Memory" counterName="% Committed Bytes In Use" />
          <counter name="Page file" categoryName="Paging File" counterName="% Usage" instanceName="_Total" />
        </chart>
      <!--</group>
      <group name="IIS">-->
        <chart name="ASP.NET Performance" updateLatency="1000" max="10">
          <counter name="Requests/sec" categoryName="ASP.NET Applications" counterName="Requests/Sec" instanceName="__Total__" />
        </chart>
        <chart name="Session state server" updateLatency="5000">
          <counter name="Active" categoryName="ASP.NET" counterName="State Server Sessions Active" />
        </chart>
      </group>
    </counters>
  </alive>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="AuditFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\activity.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="alive-debug">
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="alive-activity">
      <level value="ALL" />
      <appender-ref ref="AuditFileAppender" />
    </logger>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="Alive.axd" verb="*" type="LiteMedia.Alive.Handler, Alive"/>
    </httpHandlers>
  </system.web>
</configuration>
