<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="Alive" type="LiteMedia.Alive.Configuration, LiteMedia.Alive">
      <section name="settings" type="LiteMedia.Alive.SettingsSection, LiteMedia.Alive"/>
      <section name="counters" type="LiteMedia.Alive.CountersSection, LiteMedia.Alive"/>
    </sectionGroup>
  </configSections>
  
  <!-- EXAMPLE CONFIGURATION -->
  <Alive>
    <settings columns="3" />
    <counters>
      <groups>
        <group name="Hardware" updateLatency="1000">
          <counter 
            name="CPU" 
            categoryName="Processor Information"
            counterName = "% Processor Time"
            instanceName = "_Total" />
          <counter
            name="CPU#1"
            categoryName="Processor Information"
            counterName = "% Processor Time"
            instanceName = "0,0" />
          <counter
            name="CPU#2"
            categoryName="Processor Information"
            counterName = "% Processor Time"
            instanceName = "0,1" />
          <counter
            name="CPU#3"
            categoryName="Processor Information"
            counterName = "% Processor Time"
            instanceName = "0,2" />
          <counter
            name="CPU#4"
            categoryName="Processor Information"
            counterName = "% Processor Time"
            instanceName = "0,3" />
        </group>
        <group name="Memory" updateLatency="5000">
          <counter
            name="Memory %"
            categoryName="Memory"
            counterName="% Committed Bytes In Use" />
          <counter
            name="Paging File %"
            categoryName="Paging File"
            counterName="% Usage"
            instanceName="_Total" />
        </group>
        <group name="ASP.NET Requests" updateLatency="1000">
          <counter
            name="Queued"
            categoryName="ASP.NET"
            counterName="Requests Queued" />
        </group>
        <group name="Connections" updateLatency="5000">
          <counter
            name="SQL"
            categoryName="ASP.NET Applications"
            counterName="Session SQL Server connections total"
            instanceName="__Total__" />
          <counter
            name="State Server"
            categoryName="ASP.NET Applications"
            counterName="Session State Server connections total"
            instanceName="__Total__" />
        </group>
        <group name="Errors" updateLatency="5000">
          <counter
            name="Requests Failed"
            categoryName="ASP.NET Applications"
            counterName="Requests Failed"
            instanceName="__Total__" />
          <counter
            name="Exceptions"
            categoryName="ASP.NET Applications"
            counterName="Errors During Execution"
            instanceName="__Total__" />
          <counter
            name="Unhandled Exceptions"
            categoryName="ASP.NET Applications"
            counterName="Errors Unhandled During Execution"
            instanceName="__Total__" />
        </group>
      </groups>
    </counters>
  </Alive>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="Alive.axd" verb="*" type="LiteMedia.Alive.Handler, LiteMedia.Alive"/>
    </httpHandlers>
  </system.web>

</configuration>
