body {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial;
	background-color: white;
}

h1 {
	color: #00A9DA;
	display: block;
	font-size: 37px;
	font-weight: normal;
	a {
		color: inherit;
	}
	.acute {
		color: #CFCFCF;
	}
}

a {
	text-decoration: none;
}

div.group {
	clear: left;
	border-color: 3px solid #74A3B0;

	h2 {
		color: #74A3B0;
		font-size: 1.2em;
	}
}

ul.charts {
	list-style-type: none;
	li {
		float: left;
		margin-right: 24px;
		margin-bottom: 24px;
	}
}
footer {
	clear: left;
}
