body {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial;
	background-color: white;
}

h1 {
	color: #00A9DA;
	display: block;
	font-size: 37px;
	font-weight: normal;
	a {
		color: inherit;
		text-decoration: none;
	}
	.acute {
		color: #CFCFCF;
	}
}

ul.charts {
	list-style-type: none;
	li {
		float: left;
		margin-right: 24px;
		marign-bottom: 24px;
	}
}
footer {
	clear: left;
}
