<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="Alive" type="LiteMedia.Alive.Configuration, Alive">
      <section name="settings" type="LiteMedia.Alive.SettingsSection, Alive" />
      <section name="counters" type="LiteMedia.Alive.CountersSection, Alive" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="Alive.axd" verb="*" type="LiteMedia.Alive.Handler, Alive" />
    </httpHandlers>
  </system.web>
  <Alive>
    <settings columns="3" />
    <counters>
      <groups>
        <group name="Test" updateLatency="1000">
          <counter name="Test" categoryName="Test Category" counterName="Test Increment" />
        </group>
      </groups>
    </counters>
  </Alive>
  <system.webServer>
    <handlers>
      <add name="Alive" path="Alive.axd" verb="*" type="LiteMedia.Alive.Handler, Alive" />
    </handlers>
  </system.webServer>
</configuration>